*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.selection-container-one {
   height: 100vh;
   width: 100;
   display: flex;
   justify-content: center;
   align-items: center;

}

.background-one {
    background-color:#304443;
    background-attachment: fixed;
    background: contain;
    background-repeat: no-repeat;

}

.section-one{
    background-image: url(imagens/bgb.png);
}

.section-two {
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    max-width: 450px;
    margin-bottom: 10px;
    text-align: center;
}
    


.form-one input
 {
    min-width: 50%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    color: rgb(51, 51, 51);
    border: 0px;
    border-radius: 100px;
    margin: 1% 0px;
    padding: 10px 16px;
    outline: none;
   

 }


